.footer {
  display: flex;
  justify-content: center;
  color: #999;
  /* margin: 50px 0; */
  padding-top: 50px ;
  background-color: #fafafa ; 
}
.bottom .right img{
  width: 24px;
  height: 24px;
}
.footer .container .top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .top .item { 
  display: flex;
  flex-direction: column;
  /* line-height: 1.7; */
  gap: 5px;
}
.container .top .item h2 {
  font-weight: Bold;
  font-size: 16px;
  color: #555;
}
.container .top .item span {
  font-weight: 300;
}
hr {
  margin-top: 20px !important;
  margin: 50px 0 !important;
  height: 0 !important;
  border: 1px solid lightgray !important;
}
.footer .container .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container .bottom .left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .container .bottom .left span{
  font-size: 13px;
}
.footer .container .bottom .right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer .container .bottom .social {
  display: flex;
  align-items: center;
  gap: 7px;}
.footer .container .bottom .link {
  display: flex;
  align-items: center;
  gap: 7px;
}